.pnlm-container {
  background: transparent;
}

.pnlm-load-box {
  display: none;
  background: transparent;
}

.pnlm-panorama-info {
  display: none;
  background-color: transparent;
}

.pnlm-lbox {
  display: none;
}

.pnlm-lbar {
  display: none;
}

.pnlm-lbar-fill {
  display: none;
}

.pnlm-ui .pnlm-load-box {
  display: none !important;
}

.pnlm-ui .pnlm-controls {
  border: none;
  background-color: transparent;
}

.pnlm-ui .pnlm-controls:hover {
  background-color: transparent;
}

.pnlm-ui .pnlm-compass {
  background-image: url("compass-arrow.svg");
  bottom: 0.5rem;
  right: 3.7rem;
}